*{
    margin: 0; 
    padding: 0;
    font-family: monospace;
    color:#008CFF;
}
body{
    background-color: white;
}
.main-header{
    font-size: 36px;
    margin-left: 10px;
}
#home-header{
    font-size: 350px;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.button-div{
    text-align: center;
    padding: 30px;
}
.transition-buttons{
    color: #008CFF;
    background-color: white;
    height: 75px;
    width: 150px;
    border-radius: 30px;
    cursor: pointer;
}
.transition-buttons:hover {
    background-color: black;
    transition: 0.7s;
}
.section{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.spacing{
    padding:30px;
}
.spacing2{
    padding:30px;
}
.features {
    display: flex;
    justify-content: space-around;
}
.team-members {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
    transition: 0.4s;
  }
