*{
    margin: 0; 
    padding: 0;
    font-family: monospace;
    color:#008CFF;
}
body{
    background-color: white;
}
.main-header{
    font-size: 36px;
}
#home-header{
    font-size: 350px;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.button-div{
    text-align: center;
    padding: 30px;
}
.transition-buttons{
    background-color: #008CFF;
    color: white;
}
.section{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.spacing{
    padding:30px;
}
.spacing2{
    padding:30px;
}
.features {
    display: flex;
    justify-content: space-around;
}
.team-members {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
