*{
    margin: 0; 
    padding: 0;
    font-family: monospace;
    color:#008CFF;
}
body{
    background-color: white;
}
.main-header{
    font-size: 36px;
    margin-left: 10px;
}
#home-header{
    font-size: 350px;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.button-div{
    text-align: center;
    padding: 30px;
}
.transition-buttons{
    color: #008CFF;
    background-color: white;
    height: 75px;
    width: 150px;
    border-radius: 30px;
    cursor: pointer;
}
.transition-buttons:hover {
    background-color: black;
    transition: 0.7s;
}
.section{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.spacing{
    padding:30px;
}
.spacing2{
    padding:30px;
}
.features {
    display: flex;
    justify-content: space-around;
}
.team-members {
    display: flex;
    text-align: left;
    justify-content: space-around;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
    transition: 0.4s;
  }
  #product-demo-head{
    font-size: 24px;
  }
  #demo{
    text-align: center;
    padding-left: 20px;
  }
  details.team-member-description{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    max-height: 30px;
    overflow: hidden;
  }
  details[open].team-member-description{
    max-height: 500px;
  }
  details[open].team-member-description summary{
    padding-bottom:10px;
  }
  .owners-button{
    text-align: center;
    color: #008CFF;
    background-color: rgb(10, 10, 10);
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border-color: purple;
    float: left;
    margin-left: 650px;
  }
  .sitters-button{
    text-align: center;
    color: #008CFF;
    background-color: rgb(10, 10, 10);
    height: 40px;
    width: 200px;
    border-radius:40px;
    border-color: purple;
    float: left;
    margin-left: 650px;
  }
  .FAQ-page{
    text-align: center;
  }
  .text-ownersFAQ{
    text-align: center;
    color: #008Cff;
  }
  .text-sittersFAQ{
    text-align: center;
    color: #008Cff;
  }
  .text-contact{
    text-align: center;
    color: #008Cff;
    font-size: 25px;
  }
  .text-team{
    text-align: center;
    color: #008cff;
    font-size: 25px;
  }
  .text-email{
    color:#008CFF;
    font-size: 15px;
    float: right;
    margin-right: 400px;
  }
  .logo-pictures{
    text-align: center;
    float: left;
    margin-left: 400px;
    height: 100px;
    width: 100px;
  }
  .contact-page{
    text-align: center;
  }
  .text-FAQ{
    text-align: center;
  }
